.whatsapp {
    position: fixed;
    top: 82%;
    right: 1%;
    padding: 10px;
    z-index: 10000000;
}

.cll {
    max-width: 50%;
}

header {
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

header .logo {
    max-width: 40%;
    height: auto;
}

section div .oblique {
    font-style: oblique
}

section h2 .oblique {
    font-style: oblique
}

section .contact-form {
    max-width: 500px;
    padding: 5px;
}

section .contact-form .text-form {
    padding: 10px;
}

@media screen and (min-width: 1100px) {

    #page-landind-content{
        max-width: 1554px;
        margin: auto;
    }
}
