.whatsapp {
    position: fixed;
    top: 82%;
    right: 1%;
    padding: 10px;
    z-index: 10000000;
}

header {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

header .logo {
    max-width: 40%;
    height: auto;
}

section div .oblique {
    font-style: oblique
}

section h2 .oblique {
    font-style: oblique
}

section .gostou-container .a-container  {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

section .gostou-container .a-container h1{
    margin-top: 60px;
}

section .gostou-container .a-container .store-container {
    display: flex;
    justify-content: space-around;
    padding: 40px 0 40px 0;
}

section .gostou-container .a-container .store-container .btn-store-apps {
    max-width: 90%;
    height: auto;
    transition: opacity .3s;
}

section .gostou-container .a-container .store-container .btn-store-apps:hover:focus {
    opacity: .5;
}

section .gostou-container .b-container img {
    display: none;
}
section .last-container .contact-form {
    padding: 20px;
    max-width: 600px;
}

section .last-container .contact-form .text-form {
    padding: 60px 0 60px 0;
}

section .last-container .contact-form Button {
    display: flex;
    margin: auto;
}

@media screen and (min-width: 1100px) {
    header {
        display: flex;
        margin-left: 30px;
        justify-content: flex-start;
        background-attachment: fixed;
    }

    section .gostou-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas:
            "gostou-a gostou-b";
    }

    section .gostou-container .a-container {
        grid-area: gostou-a;
    }

    section .gostou-container .b-container {
        grid-area: gostou-b;
        margin: auto;
    }

    section .gostou-container .b-container img {
        display: block;
        max-width: 600px;
        max-height: 600px;
    }

    section .last-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas:
            "form comment";
            padding: 0 30px 0 30px;
    }
    section .last-container .contact-form {
        grid-area: form;
        margin: auto;
        width: 750px;
    }
    section .last-container .comments-container {
        grid-area: comment;
        max-width: 500px;
        margin: auto;

    }

}