section #welcome-container {
    padding: 10px;

    flex-direction: column;
    align-items: center;
}

section #welcome-container .a-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section #welcome-container .a-container .text-conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section #welcome-container .a-container .text-conteiner .main-text {
    margin: 20px 0 20px 0;
    font-size: 3.7rem
}

section #welcome-container .a-container .text-conteiner .sub-text {
    margin: 0 0 20px 0;
    font-size: 2.2rem;
    line-height: 3rem;
}

section #welcome-container .a-container .store-container-a {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-around;
}

section #welcome-container .a-container .store-container-a .btn-store-apps,
section #welcome-container .a-container .store-container-a .btn-store-apps-apple {
    max-width: 90%;
    height: auto;
    transition: opacity .3s;
}

section #welcome-container .a-container .store-container-a .btn-store-apps:hover:focus,
section #welcome-container .a-container .store-container-a .btn-store-apps-apple:hover:focus {
    opacity: .5;
}

section #welcome-container .b-container {
    margin: auto;
    max-width: 300px;
}

section #welcome-container .b-container .img-home {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 1100px) {
    section #welcome-container .b-container .img-home {
        max-width: 80%;
        height: auto;
    }

    #welcome-container {
        display: grid;
        grid-template-columns: 680px 1fr;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas:
            "a b";
    }

    section #welcome-container .a-container {
        margin-left: 5vw;
        grid-area: a;
        height: 400px;
        display: block;
    }

    section #welcome-container .b-container {
        grid-area: b;
        margin: auto 0 auto auto;
        max-width: 800px;
    }

    section #welcome-container .a-container .store-container-a {
        display: block;
        margin-top: 90px;
    }

    section #welcome-container .a-container .store-container-a .btn-store-apps-apple{
        margin-right: calc(570.41px - 468px);
    }
}