section #welcome-container {
    padding: 10px;

    /* display: flex ; */
    flex-direction: column;
    align-items: center;
}

section #welcome-container .a-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section #welcome-container .a-container .text-conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

section #welcome-container .a-container .text-conteiner .main-text {
    margin: 20px 0 20px 0;
    font-size: 4rem
}

section #welcome-container .a-container .text-conteiner .sub-text {
    margin: 0 0 20px 0;
    font-size: 3rem
}

section #welcome-container .a-container .store-container-a {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-around;
}

section #welcome-container .a-container .store-container-a .btn-store-apps {
    max-width: 90%;
    height: auto;
    transition: opacity .3s;
}

section #welcome-container .a-container .store-container-a .btn-store-apps:hover:focus {
    opacity: .5;
}

section #welcome-container .b-container {
    display: flex;
    margin: auto;
    max-width: 700px;
}

section #welcome-container .b-container .img-home {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 1100px) {
    section #welcome-container .b-container .img-home {
        max-width: 80%;
        height: auto;
    }

    #welcome-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas:
            "a b"
            "a b";
    }

    .a-container {
        grid-area: a;
        height: 400px;
        justify-content: space-between;
    }

    .b-container {
        grid-area: b;
    }
}